<footer id="contatti" class="py-5">
  <div class="container d-lg-flex justify-content-lg-around">
    <div class="row d-inline-flex flex-row justify-content-lg-start text-lg-start text-center mb-3 mb-lg-0 justify-content-center">
      <h3 class="h2 text-uppercase text-white">Contatti</h3>
      <hr class="text-white text-center w-50">
      <p class="lead">Telefono: <a href="tel: +393519874869">+39 351 9874869</a></p>
      <p class="lead">
        <img src="../../../assets/img/whatsapp-icon-seeklogo.com.svg" style="width:3%" alt="Whatsapp">
        Whatsapp:
        <a href="https://wa.me/3519874869" target="_blank">
          +39 351 9874869
        </a>
      </p>
      <p class="lead">
        <img src="../../../assets/img/Gmail-Logo.wine.svg" style="width: 4%" alt="Email">
        Email:
        <a href="mailto: giannicaruso1897@gmail.com" target="_blank">
          giannicaruso1897@gmail.com
        </a>
      </p>
      <p class="lead"><img
        src="../../../assets/img/linkedin-new-2020-seeklogo.com.svg" style="width:2.7%" alt="LinkedIn">
        LinkedIn:
        <a href="https://www.linkedin.com/in/giovan-battista-caruso-2387381b9" target="_blank">
          Giovan Battista Caruso
        </a>
      </p>
    </div>
    <div class="row d-inline-flex flex-row justify-content-lg-start text-lg-start text-center justify-content-center">
      <h3 class="h2 text-uppercase text-white">Seguimi sui social</h3>
      <hr class="text-white w-75">
      <p class="social">
        <a href="https://www.instagram.com/giannicaruso1299/" target="_blank">
          <img src="../../../assets/img/instagram.png" style="width:5%" alt="Whatsapp">
          <span class="lead">&nbsp;&nbsp;Instagram</span>
        </a>
      </p>
      <p class="social">
        <a href="https://www.facebook.com/gianni.caruso.336/" target="_blank">
          <img src="../../../assets/img/facebook.png" style="width:3%" alt="Whatsapp">
          <span class="lead">&nbsp;&nbsp;Facebook</span>
        </a>
      </p>
    </div>
  </div>
</footer>
