@keyframes slide-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform:translateY(0);
  }
}

.navbar {
  position: fixed;
  z-index: 200;
}

.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none!important;
}

/** Small screens to extra large screens and TVs **/
@media screen and (min-width: 769px) {
  .slide-down {
    transform:translateY(-100%);
    animation: 1s slide-down .5s forwards;
  }
}

/** iPad Air **/
@media screen and (width: 820px) {
  .slide-down {
    transform: none;
    animation: none;
  }
}

/** Surface pro 7 **/
@media screen and (width: 912px) {
  .slide-down {
    transform: none;
    animation: none;
  }
}
