<app-navbar></app-navbar>
<div class="container-fluid px-0">
  <section class="heading">
    <h1 class="pt-5"></h1>
    <h1 class="ms-lg-5 px-3 text-left text-uppercase slogan">Passione e Dedizione<br> in ogni particolare</h1>
  </section>
  <section id="chisono" class="container pb-5">
    <div class="slide ms-md-5 my-5 d-md-flex d-block text-md-start text-center align-items-center px-3 px-md-0">
      <div id="circle"></div>
      <div class="user-info ms-2">
        <h1 class="text-uppercase title">Chi sono</h1>
        <p class="lead">Giovan Battista Caruso</p>
        <p class="lead">Junior Fullstack Developer</p>
        <p class="lead">Dott. in Ingegneria Informatica - UniPa</p>
        <p class="lead">IT Consultant presso <a href="https://capgemini-engineering.com/it/it/" id="capgemini" target="_blank"> Capgemini Engineering</a></p>
      </div>
    </div>
    <div class="description px-md-5 text-md-start text-left px-5">
      <h4 class="slide-aboutme text-lg-start text-center">ABOUT ME</h4>
      <div class="row">
        <div class="col-lg-6 col-12">
          <p class="lead">Mi chiamo Gianni Caruso, sono un Ingegnere Informatico di Partinico, un piccolo paese nella
            provincia di Palermo. Nato e cresciuto nella splendida Sicilia, conseguo il diploma di Liceo Scientifico nel 2017 e nello stesso anno
            inizio il mio percorso presso l'Università degli studi di Palermo, scegliendo la facoltà di Ingegneria Informatica. Da sempre appassionato di
            tecnologia e software, scelgo nel 2019 di frequentare il corso di
            Web Designer Developer presso la scuola Microsales di Palermo, in cui ottengo certificazioni Microsoft, Adobe e Google e imparo a padroneggiare
            tecnologie come HTML e CSS, Javascript, PHP e programmi di grafica come Photoshop.</p>
        </div>
        <div class="col-lg-6 col-12">
          <p class="lead">Nel 2020 vengo assunto come fullstack Developer
            presso la Control Security Service, un'azienda di Palermo operante nel campo della geolocalizzazione e del tracciamento auto. Entro poi, nel 2021, in Capgemini Engineering come
            IT Consultant all'interno del settore Energy di quest'ultima. Conseguo nel Marzo del 2022 la
            laurea triennale in Ingegneria Informatica.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="competenze" class="container text-center pb-5">
    <h2 class="h1 text-uppercase title mb-3 px-5">competenze e tecnologie conosciute</h2>
    <div class="row white-space">
      <div class="col-lg-4 col-12">
        <p class="text-center"><img src="../../../assets/img/html_css.png" alt="HTML & CSS" style="width: 15%">&nbsp;&nbsp;<span class="lead text-uppercase">Html & Css</span><br></p>
        <p class="text-center"><img src="../../../assets/img/javascript-seeklogo.com.svg" style="width: 5%" alt="Javascript">&nbsp;&nbsp;<span class="lead text-uppercase">Javascript</span></p>
        <p class="text-center"><img src="../../../assets/img/php-seeklogo.com.svg" style="width: 8%" alt="PHP">&nbsp;&nbsp;<span class="lead text-uppercase">PHP</span></p>
        <p class="text-center"><img src="../../../assets/img/yii2.png" style="width: 7%" alt="Yii2">&nbsp;&nbsp;<span class="lead text-uppercase">Yii2</span></p>
      </div>
      <div class="col-lg-4 col-12">
        <p class="text-center"><img src="../../../assets/img/angular-seeklogo.com.svg" style="width: 8%" alt="Angular">&nbsp;&nbsp;<span class="lead text-uppercase">Angular</span></p>
        <p class="text-center"><img src="../../../assets/img/react-seeklogo.com.svg" style="width: 8%" alt="React">&nbsp;&nbsp;<span class="lead text-uppercase">React</span></p>
        <p class="text-center"><img src="../../../assets/img/nodejs.svg" style="width: 8%" alt="NodeJS">&nbsp;&nbsp;<span class="lead text-uppercase">NodeJS</span></p>
        <p class="text-center"><img src="../../../assets/img/c.png" style="width: 8%" alt="C">&nbsp;&nbsp;<span class="lead text-uppercase">C</span></p>
      </div>
      <div class="col-lg-4 col-12">
        <p class="text-center"><img src="../../../assets/img/java-seeklogo.com.svg" style="width: 8%" alt="Java">&nbsp;&nbsp;<span class="lead text-uppercase">Java</span></p>
        <p class="text-center"><img src="../../../assets/img/python-seeklogo.com.svg" style="width: 8%" alt="Python">&nbsp;&nbsp;<span class="lead text-uppercase">Python</span></p>
        <p class="text-center"><img src="../../../assets/img/mysql-seeklogo.com.svg" style="width: 8%" alt="MySQL">&nbsp;&nbsp;<span class="lead text-uppercase">MySQL</span></p>
        <p class="text-center"><img src="../../../assets/img/mongo.svg" style="width: 8%" alt="MongoDB">&nbsp;&nbsp;<span class="lead text-uppercase">MongoDB</span></p>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
