html, body {
  height: 100%;
  margin: 0;
}

section.heading  {
  min-height: 100vh;
  min-width: 100%;
  background: url("../../../assets/img/background2.jpg") no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}

.title {
  font-weight: lighter;
}

.description {
  width: auto;
}

.description > .row > div:nth-child(1) {
  -webkit-animation-name: slide-right;
        animation-name: slide-right;
  -webkit-animation-duration: 2s;
        animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
  -webkit-animation-delay: 6s;
        animation-delay: 6s;
  transform: translateX(-200%);
}

.description > .row > div:nth-child(2) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  transform: translateX(-300%);
}

.row > div > p {
  text-align: justify;
}

#circle {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 100%;
  background: url("../../../assets/img/IMG_0062.JPG") no-repeat center center;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 10px;
}

.slogan {
  animation: 1s slide-right .5s forwards;
  transform:translateX(-100%);
  font-weight: lighter;
  color: #fff;
}

.slide {
  animation: 5s slide-right .5s forwards;
  transform: translateX(-100%);
}

.slide-aboutme {
  animation: 2s slide-right 4s forwards;
  transform: translateX(-100%);
}

#capgemini {
  text-decoration: none;
  color: #14abdb;
}

#capgemini:hover {
  color: #0474ac;
  transition: .4s ease-in;
}

#competenze {
  width: auto;
}

#competenze h2 {
  width: auto;
  animation: 2s slide-right 10s forwards;
  transform: translateX(-200%);
}

#competenze > .row > div:nth-child(1) > p:nth-child(1) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
  transform: translateX(-300%);
}

#competenze > .row > div:nth-child(1) > p:nth-child(2) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 11.5s;
  animation-delay: 11.5s;
  transform: translateX(-300%);
}

#competenze > .row > div:nth-child(1) > p:nth-child(3) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  transform: translateX(-300%);
}

#competenze > .row > div:nth-child(1) > p:nth-child(4) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
  transform: translateX(-300%);
}

#competenze > .row > div:nth-child(2) > p:nth-child(1) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
  transform: translateX(+300%);
}

#competenze > .row > div:nth-child(2) > p:nth-child(2) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 13.5s;
  animation-delay: 13.5s;
  transform: translateX(+300%);
}

#competenze > .row > div:nth-child(2) > p:nth-child(3) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
  transform: translateX(+300%);
}

#competenze > .row > div:nth-child(2) > p:nth-child(4) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 14.5s;
  animation-delay: 14.5s;
  transform: translateX(+300%);
}

#competenze > .row > div:nth-child(3) > p:nth-child(1) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  transform: translateX(+1000%);
}

#competenze > .row > div:nth-child(3) > p:nth-child(2) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 15.5s;
  animation-delay: 15.5s;
  transform: translateX(+1000%);
}

#competenze > .row > div:nth-child(3) > p:nth-child(3) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
  transform: translateX(+1000%);
}

#competenze > .row > div:nth-child(3) > p:nth-child(4) {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 16.5s;
  animation-delay: 16.5s;
  transform: translateX(+1000%);
}

.white-space {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slide-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform:translateX(0);
  }
}

/** Small screens to extra large screens and TVs **/
@media screen and (min-width: 769px) {
  .slide-down {
    transform:translateY(-100%);
    animation: 1s slide-down .5s forwards;
  }
  .user-info p {
    line-height: 50%;
  }
}

/** iPad Air **/
@media screen and (width: 820px) {
  .slide-down {
    transform: none;
    animation: none;
  }
}

/** Surface pro 7 **/
@media screen and (width: 912px) {
  .slide-down {
    transform: none;
    animation: none;
  }
}

/** Surface Duo **/
@media screen and (width: 540px) {
  #circle {
    margin: auto;
  }
}

/** Galaxy Fold o in generale dispositivi piccoli **/
@media screen and (max-width: 319px) {
  #circle {
    width: 150px;
    height: 150px;
    margin: auto auto 10px;
  }
  .description p {
    text-align: justify;
  }
}

/** Smartphone **/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .slogan {
    padding-top: 375px;
  }
  #circle {
    margin: auto auto 10px;
  }
  .description p {
    text-align: justify;
  }
}
