<script src="../../components/navbar/navbar.component.spec.ts"></script>
<app-navbar></app-navbar>
<div class="container-fluid px-0">
  <section class="heading">
    <h1 class="pt-5"></h1>
    <h1 class="ms-lg-5 px-3 text-left text-uppercase slogan">Passione e Dedizione<br> in ogni particolare</h1>
  </section>
  <section id="chisono" class="container pb-5">
    <div class="slide ms-md-5 my-5 d-md-flex d-block text-md-start text-center align-items-center px-3 px-md-0">
      <div id="circle"></div>
      <div class="user-info ms-2">
        <h1 class="text-uppercase title">Chi sono</h1>
        <p class="lead">Giovan Battista Caruso</p>
        <p class="lead">Junior Fullstack Developer</p>
        <p class="lead">Dott. in Ingegneria Informatica - UniPa</p>
        <p class="lead">IT Consultant presso <a href="https://capgemini-engineering.com/it/it/" id="capgemini" target="_blank"> Capgemini Engineering©</a></p>
      </div>
    </div>
    <div class="description px-md-5 text-md-start text-left px-5"  *ngIf="scrollService.scrolled">
      <h4 class="slide-aboutme text-lg-start text-center">ABOUT ME</h4>
      <div class="row">
        <div class="col-lg-6 col-12">
          <p class="lead">Mi chiamo Gianni Caruso, sono un Ingegnere Informatico di Partinico, un paese in
            provincia di Palermo. Nato e cresciuto nella splendida Sicilia, conseguo il diploma di Liceo Scientifico nel 2017 e nello stesso anno
            inizio il mio percorso presso l'Università degli studi di Palermo, scegliendo la facoltà di Ingegneria Informatica. Da sempre appassionato di
            tecnologia e software, scelgo nel 2019 di frequentare il corso di
            Web Designer Developer presso la scuola Microsales di Palermo, in cui ottengo certificazioni Microsoft, Adobe e Google e imparo a padroneggiare
            tecnologie come HTML e CSS, Javascript, PHP e programmi di grafica come Photoshop.</p>
        </div>
        <div class="col-lg-6 col-12">
          <p class="lead">Nel 2020 vengo assunto come fullstack Developer
            presso la Control Security Service, un'azienda di Palermo operante nel campo della geolocalizzazione e del tracciamento auto. Entro poi, nel 2021, in Capgemini Engineering come
            IT Consultant all'interno del settore Energy di quest'ultima. Conseguo nel Marzo del 2022 la
            laurea triennale in Ingegneria Informatica.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="competenze" class="container text-center pb-5"  *ngIf="scrollService.scrolled2">
    <h2 class="h1 text-uppercase title mb-3 px-5">competenze e tecnologie conosciute</h2>
    <div class="row white-space">
      <div class="col-lg-4 col-12">
        <p class="text-center"><img src="../../../assets/img/html_css.png" alt="HTML & CSS" style="width: 15%">&nbsp;&nbsp;<span class="lead text-uppercase">Html & Css</span><br></p>
        <p class="text-center"><img src="../../../assets/img/javascript-seeklogo.com.svg" style="width: 5%" alt="Javascript">&nbsp;&nbsp;<span class="lead text-uppercase">Javascript</span></p>
        <p class="text-center"><img src="../../../assets/img/bootstrap.png" style="width: 7%" alt="Bootstrap">&nbsp;&nbsp;<span class="lead text-uppercase">Bootstrap</span></p>
        <p class="text-center"><img src="../../../assets/img/php-seeklogo.com.svg" style="width: 8%" alt="PHP">&nbsp;&nbsp;<span class="lead text-uppercase">PHP</span></p>
      </div>
      <div class="col-lg-4 col-12">
        <p class="text-center"><img src="../../../assets/img/yii2.png" style="width: 7%" alt="Yii2">&nbsp;&nbsp;<span class="lead text-uppercase">Yii2</span></p>
        <p class="text-center"><img src="../../../assets/img/angular-seeklogo.com.svg" style="width: 8%" alt="Angular">&nbsp;&nbsp;<span class="lead text-uppercase">Angular</span></p>
        <p class="text-center"><img src="../../../assets/img/react-seeklogo.com.svg" style="width: 8%" alt="React">&nbsp;&nbsp;<span class="lead text-uppercase">React</span></p>
        <p class="text-center"><img src="../../../assets/img/nodejs.svg" style="width: 8%" alt="NodeJS">&nbsp;&nbsp;<span class="lead text-uppercase">NodeJS</span></p>
      </div>
      <div class="col-lg-4 col-12">
        <p class="text-center"><img src="../../../assets/img/java-seeklogo.com.svg" style="width: 8%" alt="Java">&nbsp;&nbsp;<span class="lead text-uppercase">Java</span></p>
        <p class="text-center"><img src="../../../assets/img/git.png" style="width: 8%" alt="Git">&nbsp;&nbsp;<span class="lead text-uppercase">Git</span></p>
        <p class="text-center"><img src="../../../assets/img/mysql-seeklogo.com.svg" style="width: 8%" alt="MySQL">&nbsp;&nbsp;<span class="lead text-uppercase">MySQL</span></p>
        <p class="text-center"><img src="../../../assets/img/mongo.svg" style="width: 8%" alt="MongoDB">&nbsp;&nbsp;<span class="lead text-uppercase">MongoDB</span></p>
      </div>
    </div>
  </section>
  <section id="curriculum" class="container justify-content-center pb-5" *ngIf="scrollService.scrolled3">
    <h2 class="h1 text-uppercase text-center title mb-3 px-5">Curriculum</h2>
    <hr class="mx-auto w-md-25 w-50">
    <div class="row">
      <h2 class="h1 text-uppercase text-center title mb-3 px-5">Formazione</h2>
      <div class="d-flex w-100 timeline">
        <small class="me-3 ms-1 anno">
          2022
        </small>
        <div class="nth-line">
          <div class="dot"></div>
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2 mb-3">
          <h5 class="h4 pe-3 text-start">Laurea Triennale in Ingegneria Informatica</h5>
          <small class="pe-3 text-start">
            Analisi Matematica 1, Calcolatori Elettronici, Fisica 1, Algebra e Geometria, Analisi Matematica 2,
            Elettrotecnica, Fisica 2, Programmazione, Basi di Dati, Teoria dei Segnali, Metodi Numerici,
            Reti di Calcolatori e Internet, Controlli Automatici, Algoritmi e Strutture Dati, Fondamenti di Elettronica,
            Sistemi Operativi, Programmazione Web e Mobile, Ingegneria del Software, Disegno Assistito da Calcolatore
          </small>
        </div>
      </div>
      <div class="d-flex w-100 timeline">
        <small class="me-3 ms-1 anno">
          2020
        </small>
        <div class="nth-line">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2 mb-3">
          <h5 class="h4 pe-3 text-start">Adobe Certified Associate</h5>
          <small class="pe-3 text-start">
            Visual Design using Adobe Photoshop©<br>verify.certiport.com - UWFo-sFNX
          </small>
        </div>
      </div>
      <div class="d-flex w-100 timeline">
        <small class="me-3 ms-1 anno">
          2020
        </small>
        <div class="nth-line">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2 mb-3">
          <h5 class="h4 pe-3 text-start">Adobe Certified Associate</h5>
          <small class="pe-3 text-start">
            Web Authoring using Adobe Dreamwaver© CC 2015<br>verify.certiport.com - eVV8-4TKV
          </small>
        </div>
      </div>
      <div class="d-flex w-100 timeline mb-5">
        <small class="me-3 ms-1 anno">
          2019
        </small>
        <div class="nth-line">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2">
          <h5 class="h4 pe-3 text-start">Microsoft Technology Associate</h5>
          <small class="pe-3 text-start">
            Introduction to Programming using HTML & CSS<br>verify.certiport.com - UpWH-sFc4
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="h1 text-uppercase text-center title mb-3 px-5">Lavoro</h2>
      <div class="d-flex w-100 timeline">
        <small class="me-3 ms-1 anno">
          2021 - in corso
        </small>
        <div class="nth-line">
          <div class="dot"></div>
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2 mb-3">
          <h5 class="h4 pe-3 text-start">Capgemini Engineering©</h5>
          <small class="pe-3 text-start">
            Junior IT Consultant
          </small>
          <hr class="w-md-50 w-75">
          <small class="pe-3 text-start">
            Junior IT Consultant presso il settore EILIS di Capgemini Engineering, azienda leader nel campo
            della consulenza e Junior Fullstack Developer nel team si sviluppo interno.
          </small>
        </div>
      </div>
      <div class="d-flex w-100 timeline">
        <small class="me-3 ms-1 anno">
          2021 - 2021
        </small>
        <div class="nth-line">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2 mb-3">
          <h5 class="h4 pe-3 text-start">Ass. Ideazione ONLUS - Comune di Alcamo</h5>
          <small class="pe-3 text-start">
            Operatore informatico
          </small>
          <hr class="w-md-50 w-75">
          <small class="pe-3 text-start">
            Operatore Informatico presso i Servizi Sociali del Comune di Alcamo tramite l'Associazione Ideazione ONLUS.
            Addetto alla risoluzione di problemi di natura informatica presso gli uffici dei Servizi Sociali del Comune,
            e responsabile del progetto migliorativo "MOSAICO"
          </small>
        </div>
      </div>
      <div class="d-flex w-100 timeline">
        <small class="me-3 ms-1 anno">
          2020 - 2021
        </small>
        <div class="nth-line">
          <div class="line"></div>
          <div class="dot"></div>
        </div>
        <div class="nth-element ms-md-5 ms-2 mb-3">
          <h5 class="h4 pe-3 text-start">Control Security Service s.r.l</h5>
          <small class="pe-3 text-start">
            Fullstack Developer
          </small>
          <hr class="w-md-50 w-75">
          <small class="pe-3 text-start">
            Manutenzione ed evoluzione di un sistema informatizzato per la gestione di dispositivi satellitari
            e il loro monitoraggio da centrale operativa.
            Evoluzione server d’ascolto per dispositivi GL500, GV55 e Queclink attraverso protocollo TCP e UDP.
            Gestione ticket per furto del veicolo, crash, geowarning, attacco e stacco cavi etc.
            Tracciamento in tempo reale dei mezzi e configurazioni tramite SMS.
          </small>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
